<div *ngFor="let mediaEntry of mediaEntries">
  <mat-card>
    <mat-card-title>
       <mat-icon *ngIf="mediaEntry.mediaType === 'BOOKS'" matTooltip="book">book</mat-icon>
       <mat-icon *ngIf="mediaEntry.mediaType === 'MUSIC_ALBUMS'" matTooltip="music album">library_music</mat-icon>
       {{mediaEntry.title}}
    </mat-card-title>
    <mat-card-subtitle>{{mediaEntry.authorsOrArtists}}</mat-card-subtitle>
  </mat-card>
  <mat-divider></mat-divider>
</div>