<span>
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile [colspan]=3>
      <mat-form-field class="search-full-width  ">
        <input matInput 
          type="text" 
          placeholder="Type your search" 
          (keyup.enter)="search()" 
          (keyup.escape)="clearSearchInput()" 
          [(ngModel)]="searchTerm" 
          name="searchTerm" 
          autocomplete="off" 
          autofocus>
        <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchInput()" matTooltip="Clear (Esc)">
          <mat-icon>close</mat-icon>
        </button>                
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <span matTooltip="{{isSearchTermValid() ? 'Do a search (Enter)' : 'Type what you want to search for first'}}"> 
        <button 
          mat-raised-button 
          color="primary" 
          (click)="search()" 
          [disabled]="!isSearchTermValid() || runningSearches > 0"
          matSuffix>Search</button>
      </span>
    </mat-grid-tile>
  </mat-grid-list>    
 </span>
 <div *ngIf="runningSearches > 0">
  <mat-spinner [diameter]="20" ></mat-spinner>
 </div>
 <div *ngFor="let searchError of searchErrors" style="font-size: 14px; color: orange;">
  {{searchError}}
 </div>
 <div *ngIf="firstSuccessfulSearchPerformed" style="font-size: 14px;">
  Found {{this.mediaEntries.length}} results
 </div>

 <app-search-results  [mediaEntries]="mediaEntries"></app-search-results>
