<p>
  Environment:
  <br>
  <textarea style="width: 500px; height: 300px;">{{env | json}}</textarea>
  <br>
  Message to echo:<input type="text" [(ngModel)]="message">
  <button (click)="onEchoRequested()">Request echo</button> 
  <br>
  Echo response: {{response}}
</p>
