/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #eeeeee;
    color: #333;
    font-family: "Roboto",UILanguageFont,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    height: 100%;
    text-rendering: optimizeLegibility;
}

.bodyContent {
    max-width: 500px;
    margin: auto;
}
